<table>
  <tr>
      <td><b>ID<b></td>
      <td><b>Nom</b></td>
      <td><b>Profession</b></td>
  </tr>
  
  <% @users.each do |user| %>
    <tr>
        <td><%= user.id %></td>
        <td><%= user.nom %></td>
        <td><%= user.profession %></td>
    </tr>
  <% end %>
</table>

<br/>

<a href="../../administration.html">Retour</a>
