<table>
  <tr>
    <td><b>Nom</b></td>
    <td><b>Profession</b></td>
  </tr>
  <tr>
      <td><%= @user.nom %></td>
      <td><%= @user.profession %></td>
  </tr>
</table>

<br/>

<a href="../../administration.html">Retour</a>